* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

img {
    text-align: center;
}

h1 {
    color: brown;
}

#backtohome {
    padding: 1rem;
    margin: 1rem;
}